<h2>Signup</h2>

<form action="/edit" method="POST" id="form-container">
  <label for="">Username: {{findUser.username}}</label>
  <br><br>
  <label for="">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
   <br>
  <label for="">Privalages</label>
  <select name="privilages">
    <option value="{{findUser.privilage}}" selected>{{findUser.privilage}}</option>
    <option value="repre" >repre</option>
    <option value="admin" >admin</option>
  </select>
  <br>
  <label for= "active">Activate</label>
  <select name="active">
    <option value="{{findUser.active}}" selected>{{findUser.active}}</option>
    <option value="true" >true</option>
    <option value ="false">false</option>
  </select>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  <br><br>

  <button>Edit account</button>
</form>