
   <div class="col-md-12 "><h1>CREATE REPORTS
</h1></div>
  <br><br><br>
  <hr class="colorgraph">
  <div class="row">
  <div class="col-lg-8 col-lg-offset-2">
     <form id="contact-form" action="/search/date" method="POST" role="form">
        <div class="messages"></div>
        <div class="controls">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label >Star Date</label>
                  <input type="date" name="starDate" max="3000-12-31"  min="1000-01-01" value="{{infArray.[0]}}"class="form-control" required data-error="Please, Add Star date.">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label >End Date</label>
                  <input type="date" name="endDate" max="3000-12-31"  min="1000-01-01" value="{{infArray.[1]}}"class="form-control" required data-error="Please, Add End date.">
              </div>
            </div>
          </div>  
          <div class="row">  
            <div class="col-md-12">
              <div class="form-group">                              
                <select name="printer" class="form-control form-control-lg">
                        <option value="">=== PRINTER ===</option>
                        {{#each listPrinter}}
                          {{#if_eq this._id ../infArray.[2] }}
                            <option value= {{this._id}} selected>{{this.printer}}</option>
                          {{else}}
                            <option value= {{this._id}}>{{this.printer}}</option>
                          {{/if_eq}}

                        {{/each}}
                </select>
                </div>
            </div>
           </div> 
           <div class="row">
            <div class="col-md-12">
              <div class="form-group">
               <select name="interface" class="form-control form-control-lg">
                 {{#if infArray.[3]}}
                  <option value="{{infArray.[3]}}" selected>{{infArray.[3]}}</option>
                 {{/if}}
                    <option value="">=== INTERFACE ===</option>
                    <option value="Lan">Lan</option>
                    <option value="USB">USB</option>
                    <option value="WIFI">WIFI</option>
                    <option value="Bluetooth">Bluetooth</option>
                    <option value="CloudPRNT">CloudPRNT</option>
                    <option value="WebPRNT">WebPRNT</option>
                  
                 </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                     <select name="device" class="form-control form-control-lg">
                       {{#if infArray.[4]}}
                        <option value="{{infArray.[4]}}" selected>{{infArray.[4]}}</option>
                        {{/if}}
                        <option value="">=== DEVICE ===</option>
                        <option value="Windows">Windows</option>
                        <option value="Mac">Mac</option>
                        <option value="iOS">iOS</option>
                        <option value="Android">Android</option>
                        <option value="Linux">Linux</option>
                    </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div> 
          <div class="row">         
            <div class="col-md-12">
              <div class="form-group">
                    <select name="pos" class="form-control form-control-lg">
                    {{#if infArray.[5]}}
                         <option value="{{infArray.[5]}}" selected>{{infArray.[5]}}</option>
                     {{/if}} 
                    <option value="">=== POS ===</option>
                    <option value="Square">Square</option>
                    <option value="Uber Eats">Uber Eats</option>
                    <option value="Touch Bistro">Touch Bistro</option>
                    <option value="LightSpeed">Android</option>
                    <option value="Quickbooks">Quickbooks</option>
                    <option value="Mindbody">Mindbody</option>
                    <option value="Shopify">Shopify</option>
                    <option value="Vend">Vend</option>
                    <option value="ForUP">Uber Eats</option>
                    <option value="GrubHub">Touch Bistro</option>
                    <option value="Vagaro">Vagaro</option>
                    <option value="Millennium">Millennium</option>
                    <option value="Booker">Booker</option>
                    <option value="Rain POS">Rain POS</option>
                    <option value="Postmates">Vend</option>
                    <option value="Lavu">Lavu</option>
                    <option value="Opentable">Opentable</option>
                    <option value="ChowNow">ChowNow</option>
                    <option value="MJ Freeway">MJ Freeway</option>
                    <option value="DoorDash">DoorDash</option>
                    <option value="PayTrace">PayTrace</option>
                    <option value="Salon Touch">Salon Touch</option>
                    <option value="Adello">Adello</option>
                    <option value="Clover">Clover</option>
                    <option value="New">NEW</option>
                </select>
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-send" value="Search">
            </div>
          </div>
        </div>
    </form>
  </div>
</div>

  <br>
  <br>
<hr>
<!-- ,-->
<table id="table" class="col-lg-12 table table-striped">
  <thead>
      <tr>
          <th><h2>DATE</h2></th>
          <th><h2>USERNAME</h2></th>
          <th><h2>PRINTER</h2></th>
          <th><h2>INTERFACE</h2></th>
          <th><h2>DEVICE</h2></th>
          <th><h2>POS</h2></th>
          <th><h2>OBSERVATION</h2></th>
      </tr>
    </thead>
    {{#each callLog}}
       <tr>  
         <th>{{this.createdAt}}</th>
         <th>{{this.representative.username}}</th>
         <th>{{this.printer.printer}}</th>
         <th>{{this.interface}}</th>
         <th>{{this.device}}</th>
        <th>{{this.pos}}</th>
        <th>{{this.observation}}</th>
       </tr> 
     {{/each}}

</table>
