<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,400,700'>
  <link rel="stylesheet" href="/stylesheets/style.css" />
    
  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script> jQuery -->
   
</head>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<body>

<nav>
  <div class="col-md-2 container-fluid">
  <img src="/images/star.png" width="350px" height="100px">
  </div>
   {{#if currentUser}}
      <div class="col-md-10">
                            <div class="header-rightside">
                                   <ul class="list-inline header-top pull-right">
                                      <li>Welcome {{currentUser.username}}</li>
                                      <li class="hidden-xs"><a href="/logout" class="add-project" data-toggle="modal" data-target="#add_project">SIGN OUT</a></li>
                                   </ul>
                            </div>
      </div>
</nav>



 <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                
                <div class="navi">
                    <ul>
                      {{#if currentUser.privi}}
                        <li><a href="/reports"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Reports</span></a></li>
                        <li><a href="/dashboard"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
                        <li><a href="/printer"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Printers</span></a></li>
                       <!--  <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>-->
                      {{else}}
                        <li><a href="/service-Center"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Service Centers</span></a></li>
                        <li><a href="/warranty"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Warranty</span></a></li>
                        <!-- <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm"></span></a></li>-->
                      {{/if}}
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                   
                </div>
                <div class="user-dashboard">
                  {{!--if currentUser.privi--}}
                   {{{body}}}
                  {{!--else--}}
                    
                  </div>
                   

                   {{!--/if--}}
                    
                </div>
            </div>
        </div>

  {{else}}
      {{{body}}}   
  {{/if}}  

  <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js'></script>
  <script src="/javascripts/script.js"></script>
  
</body>
</html> 